.header {
    background-color: #202020;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 20px;
}

.logo {
    width: 30px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.menu {
    justify-self: center;
}