.header {
    position: absolute;
    top: 0;
    background-color: #202020;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    padding: 0 20px;
}

.logo {
    width: 30px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.menu {
    display: flex;
    justify-self: center;
    height: 100%;
}

.menuList {
    height: 100%;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 60px;
}

.menuList li {
    color: #ffffff;
    height: 100%;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: var(--montserrat-font);
    transition: color 0.3s ease;
    position: relative;
    display: flex;
    align-items: center;
}

.menuList li:hover {
    color: #FF856A;
}

.menuList li.mark {
    color: #F42C04;
}

.selectedLine {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 8px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    bottom: -4px;
}

.mark .selectedLine {
    display: block;
}