.mainBlack {
    background-color: #202020;
}

.mainBlack * {
    color: #e7e7e7
}

.main {
    max-width: 950px;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding-bottom: 100px;
}

.about {
    min-height: calc(90dvh - 50px);
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.left,
.right {
    width: calc(50% - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.left img {
    width: 100%;
    border: 2px solid #202020;
    border-radius: 50%;
}

.right {
    gap: 20px;
}

.right h2 {
    font-size: 1.4rem;
}

.right p {
    width: 300px;
    line-height: 30px;
    text-align: center;
}

.formations, .experience {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.formations h2, .experience h2 {
    font-size: 1.4rem;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media (max-width: 768px) {
    .left {
        display: none;
    }

    .right {
        width: 100%;
    }
}