.mainBlack {
    background-color: #202020;
}

.mainBlack * {
    color: #e7e7e7
}

.projects {
    min-height: calc(100dvh - 20px);
    padding-top: 100px;
    padding-left: 20px;
    padding-bottom: 100px;
    padding-right: 20px;
    max-width: 940px;
    margin: 50px auto 0 auto;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

@media (max-width: 768px) {
    .projects {
        padding: 120px 20px 120px 20px;
        margin: 0;
        gap: 40px;
    }
}